.universe-item {
    list-style: none;
}
.universe-link {
    width: 100%;
}
.welcome-text {
    text-align: center;
}
.load-spinner {
    width: 100vw;
    height: 100vh;
    position: fixed;
    text-align: center;
    margin: auto;
    top: 0;
}
.spinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}