<span class="game-log">
    <app-gamelog></app-gamelog>
</span>
<span class="game-stats">
    <app-gamestats class="game-stats-comp"></app-gamestats>
</span>
<p class="action-bar">
    <mat-toolbar color="primary" class="top-toolbar">
        <button mat-raised-button class="example-icon" aria-label="Progress button" color="secondary">
            <mat-icon>fast_forward</mat-icon>
            <span>Next</span>
        </button>
        <a mat-raised-button [routerLink]="'/activities'"class="example-icon" aria-label="Activities button" color="secondary">
            <mat-icon>directions_run</mat-icon>
            <span>Activities</span>
        </a>
    </mat-toolbar>
</p>