<p>
    CONTENT CONTENT CONTENT
    CONTENT CONTENT CONTENT
    CONTENT CONTENT CONTENT
    CONTENT CONTENT CONTENT
    CONTENT CONTENT CONTENT
    CONTENT CONTENT CONTENT
    CONTENT CONTENT CONTENT
    CONTENT CONTENT CONTENT
    CONTENT CONTENT CONTENT
    CONTENT CONTENT CONTENT
    CONTENT CONTENT CONTENT
    CONTENT CONTENT CONTENT
    CONTENT CONTENT CONTENT
    CONTENT CONTENT CONTENT
    CONTENT CONTENT CONTENT
    CONTENT CONTENT CONTENT
</p>
<a [routerLink]="'/activities'">Activities</a>