<div *ngIf="!isActivitiesOpen">
    <span class="game-log">
        <app-gamelog></app-gamelog>
    </span>
    <span class="game-stats">
        <app-gamestats class="game-stats-comp"></app-gamestats>
    </span>
    <p class="action-bar">
        <mat-toolbar color="primary" class="top-toolbar">
            <button *ngIf="!isDead" mat-raised-button class="example-icon gameplay-button" aria-label="Progress button" color="secondary" (click)="nextBtn()" [disabled]="isLoading">
                <mat-icon>fast_forward</mat-icon>
                <span>Next</span>
            </button>
            <span *ngIf="!isDead" class="spacer"></span>
            <button *ngIf="!isDead" mat-raised-button (click)="openActivities()" class="example-icon gameplay-button" aria-label="Activities button" color="secondary" [disabled]="isLoading">
                <mat-icon>directions_run</mat-icon>
                <span>Activities</span>
            </button>
            <button *ngIf="isDead" mat-raised-button class="example-icon gameplay-button" color="secondary" (click)="reloadPage()">
                <mat-icon>refresh</mat-icon>
                <span>Restart</span>
            </button>
        </mat-toolbar>
    </p>
</div>
<div *ngIf="isActivitiesOpen">
    <p class="top-bar">
        <mat-toolbar color="primary" class="top-toolbar">
            <button mat-icon-button (click)="closeActivities()" class="close-button" aria-label="Close button">
                <mat-icon>close</mat-icon>
            </button>
            <span>Activities</span>
        </mat-toolbar>
    </p>
    <div>
        <li *ngFor="let act of activityList" class="activity-item">
            <button mat-button class="activity-button" (click)="clickActivity(act.event)" [disabled]="act.disabled">{{act.label}}</button>
        </li>
    </div>
</div>
<div *ngIf="isLoading" class="load-spinner">
    <mat-spinner mode="indeterminate" class="spinner"></mat-spinner>
</div>