.game-log {
    max-height: 60vh;
    overflow-y: scroll;
    display: flex;
    z-index: -1;
}
.game-stats {
    max-height: 15vh;
    position: fixed;
    overflow: hidden;
    bottom: 60px;
    right: 0;
    left: 0;
    padding-bottom: 12px;
}
.game-stats-comp {
    width: 100%;
}
.action-bar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 0;
}
.spacer {
    width: 8px;
}
.activity-item {
    list-style: none;
}
.activity-button {
    width: 100%;
}
.load-spinner {
    width: 100vw;
    height: 100vh;
    position: fixed;
    text-align: center;
    margin: auto;
    top: 0;
}
.spinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}