<p>
    <mat-toolbar color="primary" class="top-toolbar">
        <button mat-icon-button class="example-icon" aria-label="Menu button" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="banner-img-span">
            <img src="assets/banner.png" class="banner-img">
        </span>
        <!--<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>-->
    </mat-toolbar>
</p>
<p>
    <mat-toolbar color="secondary" class="sub-toolbar">
        <button mat-icon-button class="example-icon" aria-label="Profile button">
            <mat-icon>person</mat-icon>
        </button>
        <span class="mat-caption">{{playerName.name}}</span>
    </mat-toolbar>
</p>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="over" #sidenav class="sidenav">
        <div class="sidenav-banner-span">
            <img src="assets/banner-blue.png" class="sidenav-banner">
        </div>
        <a mat-button class="sidenav-button" [routerLink]="'designer'" (click)="sidenav.close()">
            <mat-icon>architecture</mat-icon>
            Universe Designer
        </a>
        <a mat-button class="sidenav-button" [routerLink]="''" (click)="sidenav.close()">
            <mat-icon>logout</mat-icon>
            Quit to Universe Select
        </a>
        <a mat-button class="sidenav-button" [routerLink]="'about'" (click)="sidenav.close()">
            <mat-icon>info</mat-icon>
            About fanlife
        </a>
        <div class="sidenav-auth">
            <mat-divider></mat-divider>
            <div *ngIf="auth.user | async as user; else showLogin">
                <h3>Hello {{ user.email }}!</h3>
                <button mat-raised-button (click)="logout()">Logout</button>
            </div>
            <ng-template #showLogin>
                <h3>Log in to get access to fanlife's best features!</h3>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" (change)="changeEmail(email.value)" #email>
                </mat-form-field><br>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" (change)="changePassword(pass.value)" #pass>
                </mat-form-field><br>
                <button mat-raised-button (click)="login()">Log in</button>
            </ng-template>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>